.tela-sobre-projeto-container {
  padding: 20px;
  background-color: #f5f5f5; // Cor de fundo mais clara
}

.card {
  background-color: #7a8b73; // Verde semelhante ao da imagem
  color: white;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.primary-topic {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.secondary-topic,
.details p,
.status-container {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.status-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.status-container select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: #7a8b73;
  border: none;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ambientes {
  margin-top: 20px;
}

.ambiente-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ambiente-info {
  display: flex;
  align-items: center;
}

.ambiente-info input {
  width: 60px;
  text-align: center;
  background-color: white;
  color: #7a8b73;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  padding: 5px;
}

.ambiente-info button {
  background-color: #c94e4e; // Cor para o botão de exclusão
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.ambiente-info button:hover {
  background-color: #a83838; // Cor para o hover do botão
}
