ion-content {
  --height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  max-width: 400px;
  margin: 0 auto;
  background: #f9f9f9;
}

ion-toolbar {
  --background: rgb(14, 116, 144);
  --color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal-content {
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
}

.segment-content h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.segment-content p {
  font-size: 14px;
  margin-bottom: 6px;
}

ion-button {
  --color: white;
  --background: rgb(14, 116, 144);
  --border-radius: 8px;
}

@media (min-width: 768px) {
  ion-content {
    max-width: 500px;
  }
}
