<ion-content class="container">
  <ion-img class="container-image" src="assets/icons/logo.png"></ion-img>

  <div class="container-form">
    <ion-item lines="none">
      <ion-input 
        [(ngModel)]="email" 
        type="email" 
        placeholder="E-mail"
        placeholder-style="color: white;">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input 
        [(ngModel)]="password" 
        type="password" 
        placeholder="Senha"
        placeholder-style="color: white;">
      </ion-input>
    </ion-item>

    <WhiteButton [text]="'Login'" [onClick]="login" [routerLink]="['/projetos-home']"></WhiteButton>


    <ion-button class="button-esqueceu" fill="clear" [routerLink]="['/esqueci-senha']">Esqueceu a senha?</ion-button>

    <ion-button class="button-register" fill="clear" [routerLink]="['/register']">Registrar-se no Bambu</ion-button>
  </div>
</ion-content>
