<ion-item lines="none">
  <ion-input
    [type]="senhaVisible ? 'text' : 'password'"
    [(ngModel)]="senha"
    placeholder="Senha"
    (ionInput)="checkSenhaMatch()">
  </ion-input>
  <ion-icon
    name="{{ senhaVisible ? 'eye-off' : 'eye' }}"
    slot="end"
    (click)="toggleSenhaVisibility()">
  </ion-icon>
</ion-item>

<ion-item lines="none">
  <ion-input
    [type]="senhaConfirmVisible ? 'text' : 'password'"
    [(ngModel)]="confirmSenha"
    placeholder="Confirmar Senha"
    (ionInput)="checkSenhaMatch()">
  </ion-input>
  <ion-icon
    name="{{ senhaConfirmVisible ? 'eye-off' : 'eye' }}"
    slot="end"
    (click)="toggleConfirmSenhaVisibility()">
  </ion-icon>
</ion-item>

<ion-text color="danger" *ngIf="senhaMatchMessage">
<p>{{ senhaMatchMessage }}</p>
</ion-text>
