<ion-item>
  <ion-input 
    [placeholder]="placeholder" 
    [type]="keyboardType" 
    label="{{ text }}" 
    labelPlacement="floating"
    [autocapitalize]="autoCapitalize"
    [value]="value" 
    (ionInput)="updateValue($event)"
    *ngIf="maxlength; else noMaxLength"
    [maxlength]="maxlength">
  </ion-input>

  <ng-template #noMaxLength>
    <ion-input 
      [placeholder]="placeholder" 
      [type]="keyboardType" 
      label="{{ text }}" 
      labelPlacement="floating"
      [autocapitalize]="autoCapitalize"
      [value]="value" 
      (ionInput)="updateValue($event)">
    </ion-input>
  </ng-template>
</ion-item>
