ion-item {
  margin-top: 12px;
  --background: #728056;
  border-radius: 10px;
    
  }
  
  ion-label {
    --color: white;
  }
  
  ion-input {
    --color: white;
   

    --background: transparent; 
    --padding-start: 0px; 
    font-size: 16px; 
    height: 40px;
  }
  