<ion-content class="projetos-home-container">
  <div class="cabecalho">
    <img src="assets/icons/iconLogo.png" alt="Logo" />
    <ion-text class="name-page">Projetos</ion-text>
  </div>

  <div class="circle-container">
    <div class="outer-circle">
      <div class="inner-circle">
        <img src="assets/icons/iconLogo.png" alt="Logo" class="image" />
      </div>
    </div>
  </div>
<br>
  <ion-text class="main-text">
    Não existem projetos no momento <br />
  </ion-text>
  <br> 
  <br>
  
  <ButtonAdicionarProjeto></ButtonAdicionarProjeto>



  
</ion-content>
