.ambiente-tamanho-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 15px;

  .nome {
    text-align: center;
    background-color: #3a5340;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
  }

  input {
    background-color: white;
    border: 1px solid #b3b3b3;
    border-radius: 6px;
    padding: 10px;
    height: 35px;
    width: 175px;
  }
}
